<div>
  <button nv-button [nvType]="'default'">
    <span>default</span>
  </button>
  <button nv-button [nvType]="'primary'">
    <span>primary</span>
  </button>
  <button nv-button [nvType]="'dashed'">
    <span>dashed</span>
  </button>
  <button nv-button [nvType]="'text'">
    <span>text</span>
  </button>
  <button nv-button [nvType]="'info'">
    <span>info</span>
  </button>
  <button nv-button [nvType]="'success'">
    <span>success</span>
  </button>
  <button nv-button [nvType]="'warning'">
    <span>warning</span>
  </button>
  <button nv-button [nvType]="'error'">
    <span>error</span>
  </button>
</div>